.Subreddits {
    background-color: white;
    grid-area: subreddits;
    display: flex;
    flex-direction: column;
    align-items: center;
    height: fit-content;
    margin: 1rem;
    padding: 1rem;
    filter: drop-shadow(0rem -0.2rem 1rem rgb(220,220,220));
    filter: drop-shadow(0rem 0.2rem 1rem rgb(220,220,220));
    border-radius: 0.5rem;
}

#redditSpan {
    color: var(--reddit-orange)
}

.subredditsContainer {
    padding: 0 1rem;
}

.subreddit {
    background-color: white;
    color: white;
}

.subreddit > button  {
    background-color: white;
}

.subredditActive {
    background-color: var(--light-grey);
    border-left: 2px solid var(--light-grey);
}

.subredditActive > button {
    background-color: transparent;
}