.Subreddits {
    background-color: white;
    /* grid-area: subreddits; */
    display: flex;
    flex-direction: column;
    align-items: center;
    height: fit-content;
    margin: 1rem;
    padding: 1rem;
    filter: drop-shadow(0rem -0.2rem 1rem rgb(220,220,220));
    filter: drop-shadow(0rem 0.2rem 1rem rgb(220,220,220));
    border-radius: 0.5rem;
}

button {
    display: block;
}

#redditSpan {
    color: var(--reddit-orange)
}

#orangeR {
    color: var(--reddit-orange)
}

.subredditsContainer {
    padding: 0 1rem;
}

.subreddit {
    background-color: transparent;
    padding: 0.5rem;
}


.subreddit > button:hover {
    color: var(--reddit-orange);
    cursor: pointer;
}

.subreddit > button  {
    background-color: white;
}

.subredditActive {
    background-color: var(--light-grey);
    border-left: 3px solid var(--semi-black);
    padding: 0.5rem;
}

.subredditActive > button {
    background-color: transparent;
    color: var(--reddit-orange)
}

@media only screen and (max-width: 800px) {
    .Subreddits {
        width: 60%;
    }

    .Subreddits > h1 {
        font-size: 1.7rem;
    }
    .subredditsContainer {
        overflow: scroll;
        padding: 0.2rem;
    }

    .subreddit > button > h2 {
        font-size: 1rem
    }
}

@media only screen and (max-width: 400px) {
    .subreddit > button > h2 {
        font-size: 1rem
    }
  }