.Comment-light {
  margin: 0.5rem auto;
  background-color: var(--custom-grey);
  border-radius: 0.5rem;
}

.Comment-dark {
  margin: 0.5rem auto;
  border-radius: 0.5rem;
  background-color: var(--semi-black);
}

.Comment-light:hover {
    filter: drop-shadow(0.3rem 0.3rem 1rem var(--semi-black));
}

.Comment-dark:hover {
  filter: drop-shadow(0.1rem 0.1rem 0.1rem white);
}

.commentAuthor {
  color: var(--reddit-orange);
  padding: 0.5rem 1rem;
}

.commentBody-light {
  padding: 0.5rem 1rem;
  overflow-wrap: break-word;
}

.commentBody-dark {
  padding: 0.5rem 1rem;
  overflow-wrap: break-word;
  color: white;
}

.commentPostedAgo-light {
  padding: 0.5rem 1rem;
}

.commentPostedAgo-dark {
  padding: 0.5rem 1rem;
  color: white;
}
