.App {
  display: flex;
  flex-direction: column;
  background-color: rgb(243, 243, 243);
}

.Body {
  display: flex;
}


@media only screen and (max-width: 800px) {
  .Body {
    flex-direction: column;
  }
}