.App {
  display: flex;
  flex-direction: column;
  background-color: rgb(243, 243, 243);
  font-family: "Poppins", sans-serif;
  color: #304553;
}

.App-Dark {
  display: flex;
  flex-direction: column;
  font-family: "Poppins", sans-serif;
  color: #304553;
}
.Body {
  display: flex;
  background-color: rgb(243, 243, 243);
}

.Body-Dark {
  display: flex;
  background-color: var(--charcoal-grey);
}

@media only screen and (max-width: 800px) {
  .Body {
    flex-direction: column-reverse;
    align-items: center;
  }

  .Body-Dark {
    flex-direction: column-reverse;
    align-items: center;
  }
}
