/*General Styles*/
.Post {
  display: grid;
  grid-template-columns: 1fr 10fr;
  grid-template-areas: "votes body";
  background-color: white;
  filter: drop-shadow(-0.2rem -0.2rem 1rem rgb(220, 220, 220));
  filter: drop-shadow(0.2rem 0.2rem 1rem rgb(220, 220, 220));
  margin-bottom: 1rem;
}

.Post:hover {
  outline: 1px solid var(--semi-black);
}

.Post-dark {
  display: grid;
  grid-template-columns: 1fr 10fr;
  grid-template-areas: "votes body";
  background-color: rgb(0, 0, 0);
  margin-bottom: 1rem;
}

/*Votes Styles*/
.Votes {
  grid-area: votes;
  text-align: center;
  font-size: 3rem;
  margin: 0 auto;
  width: auto;
  display: flex;
  flex-direction: column;
  padding-top: 1rem;
  min-width: 0;
}

.Votes > button {
  background-color: transparent;
  font-size: 1.2rem;
  padding: 0.15rem;
  font-weight: 900;
}

.Votes > p {
  width: 100%;
  font-size: 1rem;
  margin-bottom: 0;
  padding: 0.15rem;
}

/*Up vote button variations*/

.upVote-light {
  color: var(--semi-black);
}

.upVoteActive-light {
  color: var(--upvote);
}

.upVote-light:hover {
  color: var(--upvote);
  cursor: pointer;
}

.upVote-dark {
  color: white;
}

.upVoteActive-dark {
  color: var(--upvote);
}

.upVote-dark:hover {
  color: var(--upvote);
  cursor: pointer;
}

/*Down vote button variations*/
.downVote-light {
  color: var(--semi-black);
}

.downVoteActive-light {
  color: var(--downvote);
}

.downVote-light:hover {
  color: var(--downvote);
  cursor: pointer;
}

.downVote-dark {
  color: white;
}

.downVoteActive-dark {
  color: var(--downvote);
}

.downVote-dark:hover {
  color: var(--downvote);
  cursor: pointer;
}

/*Voted on color variations*/

.votedUp {
  color: var(--upvote);
}

.votedUp-dark {
  color: var(--upvote);
}

.votedDown {
  color: var(--downvote);
}

.votedDown-dark {
  color: var(--downvote);
}

.notVoted {
  color: var(--semi-black);
}

.notVoted-dark {
  color: white;
}

/*Post Body Styles*/
.postBody-light {
  grid-area: body;
  background-color: rgb(255, 255, 255);
  padding: 1rem;
  display: flex;
  flex-direction: column;
  min-width: 0;
}

.postBody-dark {
  grid-area: body;
  background-color: rgb(0,0,0);
  padding: 1rem;
  display: flex;
  flex-direction: column;
  min-width: 0;
}
/*Post titles light*/

.postTitle-light {
  font-size: 1.5rem;
  height: auto;
  margin-bottom: 1rem;
}

.postTitle-light > a {
  text-decoration: none;
}

.postTitle-light > a:link {
  color: var(--semi-black);
}

.postTitle-light > a:visited {
  color: var(--reddit-purple);
}

.postTitle-light > a:hover {
  color: var(--reddit-orange);
}
/*Post titles dark*/

.postTitle-dark {
  font-size: 1.5rem;
  height: auto;
  margin-bottom: 1rem;
}

.postTitle-dark > a {
  text-decoration: none;
}

.postTitle-dark > a:link {
  color: white;
}

.postTitle-dark > a:visited {
  color: var(--reddit-purple);
}

.postTitle-dark > a:hover {
  color: var(--reddit-orange);
}

.postPreview {
  max-width: 70%;
  display: flex;
  align-items: flex-start;
}
.postPreview > img {
  max-width: 70%;
}

.postPreview > a > img {
  background-color: black;
  max-width: 70%;
  height: 100%;
}

.previewPlaceholder {
  font-size: 4rem;
  color: var(--reddit-blue);
}

.previewPlaceholder:hover {
  color: var(--reddit-orange);
}

/*Post footer Styles*/
.postFooter-light {
  display: flex;
  font-size: 1.1rem;
  justify-content: space-between;
  padding: 0.5rem 0 0 1.25rem;
  border-top: 2px solid rgb(243, 243, 243);
  margin-top: 0.5rem;
  margin-bottom: 0.5rem;
  max-width: 100%;
}

.postFooter-dark {
  display: flex;
  font-size: 1.1rem;
  justify-content: space-between;
  padding: 0.5rem 0 0 1.25rem;
  border-top: 2px solid rgb(243, 243, 243);
  margin-top: 0.5rem;
  margin-bottom: 0.5rem;
  max-width: 100%;
  color: white
}

#postAuthor {
  color: var(--reddit-orange);
}

.commentsToggle {
  display: flex;
  font-size: 1.1rem;
  background-color: transparent;
}

.commentsToggle-light {
  display: flex;
  font-size: 1.1rem;
  background-color: transparent;
}

.commentsToggle-dark {
  display: flex;
  font-size: 1.1rem;
  background-color: transparent;
  color: white;
}


.commentsToggle-light:hover {
  color: var(--reddit-orange);
  cursor: pointer;
}

.commentsToggle-dark:hover {
  color: var(--reddit-orange);
  cursor: pointer;
}

@media only screen and (max-width: 500px) {
  .Post {
    overflow: scroll;
  }

  .postTitle {
    font-size: 1.2rem;
  }

  .postFooter {
    font-size: 0.8rem;
  }

  .commentsToggle {
    font-size: 0.9rem;
  }
}

@media only screen and (max-width: 400px) {
  .Votes > p {
    padding-left: 0;
    font-size: 0.62rem;
  }
}
