/*General Styles*/
.Post {
  display: grid;
  grid-template-columns: 1fr 10fr;
  grid-template-areas: "votes body";
  background-color: white;
  filter: drop-shadow(-0.2rem -0.2rem 1rem rgb(220, 220, 220));
  filter: drop-shadow(0.2rem 0.2rem 1rem rgb(220, 220, 220));
  margin-bottom: 1rem;
  border-radius: 0.5rem;
}

.Post:hover {
    outline: 1px solid var(--semi-black)
}

/*Votes Styles*/
.Votes {
  grid-area: votes;
  text-align: center;
  font-size: 3rem;
  margin: 0 auto;
  width: auto;
  display: flex;
  flex-direction: column;
  padding-top: 1rem;
  min-width: 0;
}

.Votes > button {
  background-color: transparent;
  font-size: 1.2rem;
  padding: 0.15rem;
  font-weight: 900;
}

.Votes > p {
  width: 100%;
  font-size: 1rem;
  margin-bottom: 0;
  padding: 0.15rem;
}

.upVote:hover {
  color: var(--upvote);
  cursor: pointer;
}

.upVoteActive {
  color: var(--upvote);
}

.downVote:hover {
  color: var(--downvote);
  cursor: pointer;
}
.downVoteActive {
  color: var(--downvote);
}

.votedUp {
    color: var(--upvote)
}

.votedDown {
    color: var(--downvote)
}

/*Post Body Styles*/
.postBody {
  grid-area: body;
  background-color: rgb(255, 255, 255);
  padding: 1rem;
  display: flex;
  flex-direction: column;
  min-width: 0;
}

.postTitle {
  font-size: 1.5rem;
  height: auto;
  margin-bottom: 1rem;
}

.postTitle > a {
  text-decoration: none;
}

.postTitle > a:link {
  color: var(--semi-black);
}

.postTitle > a:visited {
  color: var(--reddit-purple);
}

.postTitle > a:hover {
  color: var(--reddit-orange);
}

.postPreview {
  max-width: 70%;
  display: flex;
  align-items: flex-start;
}
.postPreview > img {
  max-width: 70%;
}

.postPreview > a > img {
  background-color: black;
  max-width: 70%;
  height: 100%;

}

.previewPlaceholder {
    font-size: 4rem;
    color: var(--reddit-blue)
}

.previewPlaceholder:hover {
    color: var(--reddit-orange)
}




/*Post footer Styles*/
.postFooter {
  display: flex;
  font-size: 1.1rem;
  justify-content: space-between;
  padding: 0.5rem 0 0 1.25rem;
  border-top: 2px solid rgb(243, 243, 243);
  margin-top: 0.5rem;
  margin-bottom: 0.5rem;
  max-width: 100%;
}

#postAuthor {
  color: var(--reddit-orange);
}

.commentsToggle {
  display: flex;
  font-size: 1.1rem;
  background-color: transparent;
}

.commentsToggle:hover {
  color: var(--reddit-orange);
  cursor: pointer;
}

@media only screen and (max-width: 500px) {
    .Post {
        overflow: scroll;
    }

    .postTitle {
        font-size: 1.2rem;
    }

    .postFooter {
        font-size: 0.8rem;
    }

    .commentsToggle {
        font-size: 0.9rem;
    }
}

@media only screen and (max-width: 400px) {
  .Votes > p {
    padding-left: 0;
    font-size: 0.62rem;
  }
}